<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>{{this.text}}</p>
                <footer class="blockquote-footer"><a href="/users/{{this.userId}}">{{this.userName}}</a></footer>
            </blockquote>
        </div>
    </div>
</div>