<h1>Pierce Dining Hall Nutrition Calculator</h1><br>

<main>
    <h2>Introduction</h2>

    <p> 
        Many popular food chains, like Chipotle, have websites where users can build meals and calculate the nutritional information for said meal.
        Similarly, our CS 546 group has decided to do a similar idea, but for the meals that can be built at Pierce Dining Hall.
    </p>

    <h2>How to Use:</h2>

    <p>
        <ol>
            <li>Create an account to save the meals you build.</li>
            <li>On the food listings page, pick and choose the individual foods to build your plate and see the nutritional content.</li>
            <li>If you would like, you can save the plate you build.</li>
        </ol>
    </p>
</main>