<div class="container col-6">
    <div id="homePageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homePageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homePageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../public/images/Foodimg.jpg" class="d-block w-100" alt="Food Image">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Introduction</h1>
                    <p>
                        Many popular food chains, like Chipotle, have websites where users can build meals and calculate the nutritional information for said meal.
                        Similarly, our CS 546 group has decided to do a similar idea, but for the meals that can be built at Pierce Dining Hall.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../public/images/Foodimg2.jpg" class="d-block w-100" alt="Food Image 2">
                <div class="carousel-caption d-none d-md-block">
                    <h1>How to Use:</h1>
                    <ol id="instructions">
                        <li>I. Create an account to save the meals you build.</li>
                        <li>II. Pick and choose the individual foods to build your plate and see the nutritional content.</li>
                        <li>III. If you would like, you can save the plate you build.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>