<main>
    <h2>Login</h2>
    <form id="login-form" method="post" action="/login">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username"/>
        <br><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>
        <br><br>
        <button type="submit">Login</button>
    </form>
    <br>
    <a href="/signup">Need to register? Click here to sign-up</a>
    <br><br>
    <h3>{{error}}</h3>

</main>