<div class="container col-3 mt-3 text-center">
    <h1>Login</h1><br>

    <main>
        <form action="/login" method="post" id="login-form">
            <div class="mb-3">
                <label for="username" class="visually-hidden">Username</label>
                <input id="username" class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password" class="visually-hidden">Password</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button><br><br>
        </form>
        
        {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <a href="/signup">Need to register? Click here to sign-up</a>
    </main>
</div>