<h1>Sign Up</h1>

<main>
    <form action="/signup" method="post" id="signup-form">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="firstName" placeholder="First Name"/><br>

        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" name="lastName" placeholder="Last Name"/><br>

        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="Username"/><br>

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password"/><br>

        <button type="submit">Sign Up</button><br>
    </form>

    {{#if error}}
        <p>Error: {{error}}</p><br>
    {{/if}}

    <a href="/login">Already have an account? Click here to log-in</a>
</main>