.img-thumbnail {
    width: 200px;
    height: auto;
}

.error {
    color: red;
    font-style: italic;
}

#pierceImage {
    width: 100%;
}

.nav_icons {
    margin-right: 5pt;
}

#navbar {
    background-color: #a32638;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
}

.card-img-top {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
}

.carousel-caption {
    background-color: #a32638;
}

.carousel img {
    margin: auto;
}

#instructions {
    list-style-type: none;
}